@page "/Aplicaciones"
<h1>Aplicaciones</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>


<img  src="/Resources/add2.png" />
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    void ButtonClicked()
    {
        currentCount++;
    }

}
